.profileMessage{
    
    box-shadow: rgb(0, 187, 255, 0.5) 0px 0px 20px;
    /* border:0.5px solid #00bbff; */
    /* background-color: rgb(0, 0, 0); */
    /* background-color: aqua; */
    color:#fff;;
    border-radius:0px;
    letter-spacing: 0.05ch;
    font-family: SF Pro Rounded;
    padding:10px;
    font-size:1em;
    font-weight: 900;
    /* min-width:20vw; */
    width:100%;
    /* margin-inline: 20px;; */
    height:auto;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    
    background:rgba(0, 32, 43, 0.5);
    line-height:2.25ch;
    align-items: center;
    /* padding:10px; */
    color:#fff;
    
}