.userReelsCard{
    width:100%;
    /* max-width:510px;   */
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
   color:#fff;
   /* background: #141414; */
   box-shadow: #004a52 0px 0px 30px;
   font-family:SF Pro Rounded Medium;
   letter-spacing: 0.02ch;
   /* margin-block:1em; */
   /* border:1px solid #00bbff; */
   margin-block:1.5em;
}

.video-card{
    width:100%;
    height:20%;
    object-fit: cover;
}